.navbar{
    width: 100%;
    display: flex;
    justify-content: center;

    position: sticky;
    top: 0;

    background-color: #262624;

    z-index: 20;
}
.navContainer{
    max-width: 1080px;
    padding: 1.56rem 2rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    color: #fafafa;
}

.logo{
    font-size: 1.8rem;
    color: #fafafa;
    text-decoration: none;
    font-weight: 600;
}

.icons{
    display: flex;
    gap: 1rem;
    font-size: 1.6rem;
    user-select: none;
}
.navContainer ul{
    position: absolute;
    bottom: -1rem;
    left: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: calc(100vh - 152px);
    padding: 2rem;
    max-width: 400px;
    width: 100%;

    background-color: rgb(38, 38, 36, 0.9);
    
    list-style-type: none;
    text-align: left;
}

.navContainer ul li a{
    color: #fafafa;
    text-decoration: none;
    font-size: 20px;
}

/* hover effects */
.navContainer ul li a:hover, .icons svg:hover, .logo:hover{
    color: #DAA520;
    transition: color 0.2s ;
}