.navbar{
    width: 100%;
    display: flex;
    justify-content: center;

    position: sticky;
    top: -1px;

    background-color: #262624;

    z-index: 20;
}
.navContainer{
    max-width: 1080px;
    padding: 1.56rem 2rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    color: #fafafa;
}

.logo{
    font-size: 1.8rem;
    color: #fafafa;
    text-decoration: none;
    font-weight: 600;
}

.icons{
    display: flex;
    gap: 1rem;
    font-size: 1.6rem;
    user-select: none;
}
.navContainer ul{
    position: absolute;
    bottom: -1rem;
    left: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: calc(100vh - 152px);
    padding: 2rem;
    max-width: 400px;
    width: 100%;

    background-color: rgb(38, 38, 36, 0.9);
    
    list-style-type: none;
    text-align: left;
}

.navContainer ul li a{
    color: #fafafa;
    text-decoration: none;
    font-size: 20px;
}

/* hover effects */
.navContainer ul li a:hover, .icons svg:hover, .logo:hover{
    color: #DAA520;
    transition: color 0.2s ;
}

/* Styles for the login form container */
.loginFormContainer {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(38, 38, 36, 0.9);
    max-width: 300px;
    margin-left: -1px;

}

  /* Styles for the login form */
.loginForm {
    display: flex;
    flex-direction: column;
}

  /* Styles for the form group */
.formGroup {
    margin-bottom: 1rem;
}

  /* Styles for the form labels */
.formGroup label {
    margin-bottom: 0.5rem;
}

/* Styles for the email input */
.emailInput {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

  /* Styles for the password input */
.passwordInput {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}


  /* Styles for the login button */
.loginButton {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
}


.loginButton:hover {
    background-color: #0069d9;
}

.loginButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}


/* styles for cart */
.cart{
    position: absolute;
    bottom: 1px;
    right: 0;
    transform: translateY(100%);
    background-color: rgba(39, 39, 37, 0.8);
    padding: 20px;


    display: flex;
    flex-direction: column;
    gap: 10px;

}
.cartProducts{
    display: flex;
    flex-direction: column;
    gap: 20px;

    max-height: 30vh;
    overflow: auto;    
}
.cart *{
    padding: 0;
    margin: 0;
}
/* width */
.cartProducts::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
/* Handle */
.cartProducts::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
.cartProducts::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.cartTotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.btn{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #4abb4e;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 500;
}
.flex{
    display: flex;
    gap: 5px;
}
.cartCard{
    display: flex;
    gap: 20px;
}
.cartText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cartText *{
    margin: 0;
    padding: 0;
}
.cartText span{
    display: flex;
    justify-content: space-between;
}
.cartText h4{
    font-weight: 400;
}
.cart img{
    height: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
}